@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("/fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("/fonts/ClashDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
:root {
  --ff-secondary: "Bricolage Grotesque", sans-serif;
  --ff-primary: "ClashDisplay-Semibold", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
}

h1 {
  color: var(--100);
  text-align: center;
  font-feature-settings: "salt" on;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 64px */
}
@media (max-width: 45rem) {
  h1 {
    /* 720px */
  }
  h1 {
    font-size: 50px;
  }
}
@media (max-width: 32.5rem) {
  h1 {
    font-size: 38px;
  }
}
@media (max-width: 25rem) {
  h1 {
    /* 720px */
  }
  h1 {
    font-size: 32px;
  }
}

h2 {
  color: #CED4D4;
  font-feature-settings: "salt" on;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 56px */
}
@media (max-width: 45rem) {
  h2 {
    /* 720px */
  }
  h2 {
    font-size: 44px;
  }
}
@media (max-width: 32.5rem) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  color: #CED4D4;
  font-feature-settings: "salt" on;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 40px */
}
@media (max-width: 45rem) {
  h3 {
    /* 720px */
  }
  h3 {
    font-size: 38px;
  }
}
@media (max-width: 32.5rem) {
  h3 {
    font-size: 32px;
  }
}

@media (max-width: 32.5rem) {
  p {
    font-size: 14px;
    line-height: 150%;
    font-weight: 300;
  }
}

:root {
  --img-gap: 2rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

input,
textarea {
  border: none;
  background-color: var(--15);
  color: var(--48);
  font-size: var(--fs-header-5);
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100svh;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: var(--92);
}

/* Make images easier to work with */
img,
picture,
svg {
  max-inline-size: 100%;
  block-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  font-style: italic;
  vertical-align: middle;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
::-moz-selection { /* Code for Firefox */
  color: var(--82);
  background: var(--42);
}

::selection {
  color: var(--82);
  background: var(--42);
}

ul {
  list-style-position: outside;
}
@media (max-width: 45rem) {
  ul {
    list-style-position: inside;
  }
}
ul li::marker {
  content: "";
}
ul li {
  display: block;
}
ul li p {
  display: list-item;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.performance {
  contain: content;
  content-visibility: auto;
}

.not-allow {
  cursor: not-allowed;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

picture {
  overflow: hidden;
}

:root {
  --bg: hsla(188, 37%, 8%, 1);
  --9: hsla(188, 7%, 9%, 1);
  --18: hsla(188, 7%, 18%, 1);
  --28: hsla(188, 7%, 28%, 1);
  --48: hsla(188, 7%, 48%, 1);
  --62: hsla(188, 7%, 62%, 1);
  --82: hsla(188, 7%, 82%, 1);
  --92: hsla(188, 7%, 92%, 1);
  --100: hsla(0, 0%, 100%, 1);
}

.text-gradient {
  background: linear-gradient(262deg, #7EB9A3 13.26%, #FEFAE8 64.05%, #F5EEBD 87.62%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--9);
  color: #fff;
  text-align: center;
  padding: 6px 12px;
  bottom: -30px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  cursor: not-allowed;
  cursor: -moz-not-allowed;
  cursor: -webkit-not-allowed;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  font-family: var(--ff-secondary);
  color: var(--82);
  background-color: var(--bg);
  background-image: url(/img/Hero-background.webp);
  background-position: center top;
  background-repeat: no-repeat;
}
body .wrapper {
  max-width: 1800px;
  margin: 0 auto;
}
body .wrapper .container .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27rem;
  padding: 1.25rem 1.75rem;
}
@media (max-width: 64rem) {
  body .wrapper .container .hero {
    /* 1024px */
  }
  body .wrapper .container .hero {
    padding: 1.25rem 1.2rem;
  }
}
body .wrapper .container .hero nav {
  max-width: 1552px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 50rem) {
  body .wrapper .container .hero nav {
    /* 800px */
  }
  body .wrapper .container .hero nav {
    justify-content: flex-start;
  }
}
body .wrapper .container .hero nav .logo img {
  height: 34px;
  width: 100%;
}
@media (max-width: 50rem) {
  body .wrapper .container .hero nav .logo img {
    /* 800px */
  }
  body .wrapper .container .hero nav .logo img {
    height: 20px;
  }
}
body .wrapper .container .hero nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}
@media (max-width: 50rem) {
  body .wrapper .container .hero nav ul {
    /* 800px */
  }
  body .wrapper .container .hero nav ul {
    display: none;
  }
}
body .wrapper .container .hero nav ul li button.disabled {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 48px;
  background: rgba(146, 146, 146, 0.4);
  backdrop-filter: blur(18px);
  color: var(--82);
}
body .wrapper .container .hero .waitlist-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
@media (max-width: 45rem) {
  body .wrapper .container .hero .waitlist-form {
    /* 720px */
  }
  body .wrapper .container .hero .waitlist-form {
    width: 100%;
  }
  body .wrapper .container .hero .waitlist-form h1 {
    width: 100%;
  }
  body .wrapper .container .hero .waitlist-form form {
    width: 100%;
  }
}
body .wrapper .container .hero .waitlist-form h1 {
  max-width: 766px;
}
body .wrapper .container .hero .waitlist-form form {
  position: relative;
  max-width: 628px;
  width: 100%;
}
body .wrapper .container .hero .waitlist-form form input::placeholder {
  color: var(--82);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 27.5rem) {
  body .wrapper .container .hero .waitlist-form form input::placeholder {
    /* 440px */
  }
  body .wrapper .container .hero .waitlist-form form input::placeholder {
    font-size: 15px;
  }
}
body .wrapper .container .hero .waitlist-form form input {
  display: flex;
  width: 100%;
  padding: 12px 12px 12px 32px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 48px;
  border: 1px solid var(--48);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  height: 72px;
  color: var(--92);
}
@media (max-width: 27.5rem) {
  body .wrapper .container .hero .waitlist-form form input {
    /* 440px */
  }
  body .wrapper .container .hero .waitlist-form form input {
    padding: 8px 8px 8px 24px;
  }
}
body .wrapper .container .hero .waitlist-form form button {
  position: absolute;
  right: 12px;
  top: 12px;
  bottom: 12px;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 48px;
  background: #FFF;
  color: var(--9);
}
@media (max-width: 27.5rem) {
  body .wrapper .container .hero .waitlist-form form button {
    /* 440px */
  }
  body .wrapper .container .hero .waitlist-form form button {
    right: 8px;
    top: 8px;
    bottom: 8px;
  }
  body .wrapper .container .hero .waitlist-form form button .delete-on-mobile {
    display: none;
  }
}
body .wrapper .container .hero .waitlist-form form .success-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  text-align: center;
  color: #05FFA3;
  font-weight: 500;
}
body .wrapper .container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 1.75rem;
  margin-block-end: 140px;
}
@media (max-width: 64rem) {
  body .wrapper .container main {
    /* 1024px */
  }
  body .wrapper .container main {
    padding: 1.25rem 1.2rem;
  }
}
body .wrapper .container main .how-it-works {
  margin-block: 128px;
  max-width: 1288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  width: 100%;
}
@media (max-width: 64rem) {
  body .wrapper .container main .how-it-works {
    /* 1024px */
  }
  body .wrapper .container main .how-it-works {
    margin-block-start: 72px;
    margin-block-end: 100px;
  }
}
@media (max-width: 32.5rem) {
  body .wrapper .container main .how-it-works {
    gap: 48px;
  }
}
body .wrapper .container main .how-it-works__content {
  display: flex;
  flex-direction: column;
  gap: 72px;
  width: 100%;
}
@media (max-width: 64rem) {
  body .wrapper .container main .how-it-works__content {
    /* 1024px */
  }
  body .wrapper .container main .how-it-works__content {
    max-width: 640px;
  }
  body .wrapper .container main .how-it-works__content--step {
    flex-direction: column;
  }
  body .wrapper .container main .how-it-works__content--step:nth-child(2) {
    flex-direction: column-reverse;
  }
}
body .wrapper .container main .how-it-works__content--step {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 64rem) {
  body .wrapper .container main .how-it-works__content--step {
    /* 1024px */
  }
  body .wrapper .container main .how-it-works__content--step {
    gap: 1rem;
  }
}
body .wrapper .container main .how-it-works__content--step img {
  max-width: 620px;
}
@media (max-width: 64rem) {
  body .wrapper .container main .how-it-works__content--step img {
    /* 1024px */
  }
  body .wrapper .container main .how-it-works__content--step img {
    width: 100%;
  }
}
body .wrapper .container main .how-it-works__content--step .step__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
body .wrapper .container main .how-it-works__content--step .step__content--header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
body .wrapper .container main .how-it-works__content--step .step__content--header .tag {
  padding: 2px 12px;
  border-radius: 4px;
  background: #FFF;
  width: max-content;
  color: var(--9);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 21px */
  text-transform: uppercase;
}
body .wrapper .container main section.faq {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
  max-width: 1288px;
}
@media (max-width: 64rem) {
  body .wrapper .container main section.faq {
    /* 1024px */
  }
  body .wrapper .container main section.faq {
    width: 100%;
    max-width: 640px;
    flex-direction: column;
  }
}
body .wrapper .container main section.faq h2 {
  padding-block-start: 2rem;
}
body .wrapper .container main section.faq .accordion {
  width: 100%;
  max-width: 760px;
  display: flex;
  flex-direction: column;
}
body .wrapper .container main section.faq .accordion .divider {
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--48);
}
body .wrapper .container main section.faq .accordion-item {
  padding-block: 2rem;
}
body .wrapper .container main section.faq .accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  color: var(--82);
  padding-inline-end: 2.5rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 36px */
  border: none;
  background: none;
  outline: none;
}
body .wrapper .container main section.faq .accordion button:hover, body .wrapper .container main section.faq .accordion button:focus {
  cursor: pointer;
  color: var(--100);
}
body .wrapper .container main section.faq .accordion button:hover::after, body .wrapper .container main section.faq .accordion button:focus::after {
  cursor: pointer;
  color: var(--100);
  border: 1px solid var(--100);
}
body .wrapper .container main section.faq .accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 8px;
  width: 24px;
  height: 24px;
}
body .wrapper .container main section.faq .accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 11px;
  left: 3px;
  width: 18px;
  height: 2px;
  background: currentColor;
}
body .wrapper .container main section.faq .accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 3px;
  left: 11px;
  width: 2px;
  height: 18px;
  background: currentColor;
}
body .wrapper .container main section.faq .accordion button[aria-expanded=true] {
  color: var(--100);
}
body .wrapper .container main section.faq .accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
body .wrapper .container main section.faq .accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
body .wrapper .container main section.faq .accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
body .wrapper .container main section.faq .accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin-block-start: 12px;
}
body .wrapper .container footer {
  padding: 1.25rem 1.75rem;
  max-width: 1552px;
  margin: 0 auto;
  padding-block: 2rem;
}
@media (max-width: 64rem) {
  body .wrapper .container footer {
    /* 1024px */
  }
  body .wrapper .container footer {
    padding: 1.25rem 1.2rem;
  }
}
body .wrapper .container footer img {
  width: 100%;
}
body .wrapper .container footer .divider {
  margin-block-start: 2.5rem;
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--48);
}
body .wrapper .container footer .version {
  padding-block: 24px;
}
body .wrapper .container footer .version .header {
  margin-bottom: 0.75rem;
  color: var(--62);
  font-weight: 400;
  line-height: 100%;
}
body .wrapper .container footer .version .content {
  color: var(--92);
  font-weight: 500;
  line-height: 100%;
}